/* COR DA TELA */
.body{
    background-color: #e2e1dc;
}
 
 
/* MENU */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #334862;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
 
nav ul li {
    position: relative;
    margin: 0 18px;
}
 
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
    transition: color 0.3s;
}
 
nav ul li a:hover {
    color: rgb(252, 251, 251);
}
 
nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #8097b4;
    box-shadow: 0px 8px 16px 0px #243a61;
    z-index: 1;
    min-width: 160px;
    padding: 0;
    top: 100%;
    left: 0;
}
 
nav ul li .dropdown-content li {
    margin: 0;
}
 
nav ul li .dropdown-content li a {
    padding: 10px 15px;
}
 
nav ul li .dropdown-content li a:hover {
    background-color: #253953;
}
 
nav ul li:hover .dropdown-content {
    display: block;
}
 
.custom-btn {
    margin-left: auto;
    margin-right: 20px;
}
 
 
/* BOTÃO */
 
body {
    background: #e0e5ec;
  }
  h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Archivo Black", sans-serif;
  }
 
  p {
  font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    color: #676767;
  }
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-15 {
      background: #142234;
      border: none;
      z-index: 1;
    }
    .btn-15:after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: #8097b4;
      border-radius: 5px;
       box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      transition: all 0.3s ease;
    }
    .btn-15:hover {
      color: #fff;
    }
    .btn-15:hover:after {
      left: 0;
      width: 100%;
    }
    .btn-15:active {
      top: 2px;
    }
 
 
/* TEXTO */
.texto1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}
.texto2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}
 
/* GALERIA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
 
.gallery {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
 
.gallery-item {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
}
 
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
 
.gallery-item h3 {
    margin: 15px 0 10px;
    font-size: 20px;
    color: #333;
}
 
.gallery-item p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
}
 
.button {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Archivo Black", sans-serif;
    background-color: #7c946f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
 
.button:hover {
    background-color: #bacfaf;
}
 
/* RODAPÉ */
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-weight: 100;
    font-style: normal;
}
 
.footer {
    background-color: #334862;
    color: white;
    padding: 40px 0;
    text-align: center;
}
 
.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}
 
.footer a:hover {
    text-decoration: underline;
}
 
.footer .links {
    margin-bottom: 20px;
}
 
.footer .payment-methods img {
    width: 50px;
    margin: 0 10px;
}
 
.footer .contact-info {
    margin: 20px 0;
}
 
.footer .social-media a img {
    width: 30px;
    margin-top: 20px;
}
.fp{
    color: #ffffff;
}
.contact-info{
    font-family: "Archivo Black", sans-serif;
    color: #fff;
}
.fp{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ci1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}
.ci2{
    font-family: "Archivo Black", sans-serif;
    color: #fff;
}
.ci3{
    font-family: "Archivo Black", sans-serif;
    color: #fff;
}
 
.ci4{
    font-family: "Archivo Black", sans-serif;
    color: #fff;
}